body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	}

h1 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	padding-bottom: 2px;
	padding-top: 20px;
	}
h2 {
	margin: 0px 100px 5px 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	padding-bottom: 1px;
	padding-top: 10px;
	}
    